body{
    margin: 0;
    padding: 0;
    font-family: 'Consolas';
    text-align: justify;
}

header{
    background-color: #333333;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
}

nav{
    text-align: right;
}
svg{
    float: left;
    padding-top: 10px;
}
ul{
    display: inline-block;
    list-style-type: none;
    padding: 0;
}
li{
    display: inline-block;
}
li a {
    text-transform: uppercase;
    color: #ff0099;
    padding: 0 10px;
}

main{
    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 20px;
    background-image: url(./assets/topography.png);
    background-color: #ececec;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    text-align: center;
}
h4{
    font-size: 30px;
    margin: 20px 0;
}
h1, h2{
    font-family: 'Courier Prime', monospace;
}
.mytitle{
    font-size: 27px;
    color:#ff0099;
}
.introduction p{
    font-size: 18px;
}
.separator{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
